


<div class="row">
  <div class="col-sm-6">
    <h1>Shops</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_shop_path, class: 'btn btn-primary' do %>
    Add New Shop
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>City</th>
            <th>Tenant</th>
            
      </tr>
    </thead>

    <tbody>
      <% @shops.each do |shop| %>
        <%= content_tag :tr, id: dom_id(shop), class: dom_class(shop) do %>
          
            <td><%= link_to shop.name, shop %></td>
          

                      <td><%= shop.city %></td>
                      <td><%= shop.tenant %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
