


<div class="row">
  <div class="col-sm-6">
    <h1>Users</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to  new_user_registration_path, class: 'btn btn-primary' do %>
    Add New User
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Lastname</th>
        <th>Email</th>    
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <%= content_tag :tr, id: dom_id(user), class: dom_class(user) do %>
          
            <td><%=  user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
